[data-theme="light"]
.footer .container .columns .column .icon {
  color: #2e333d !important;
}

[data-theme="dark"]
.footer .container .columns .column .icon {
  color: #abb1bf !important;
}

.navbar-item {
  display: flex;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
}

.footer .container .columns .column .icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
      text-align: center;
  }
}

.mainpadding {
  padding-top: 80px;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
  opacity: 0.9;
}

.navbartools {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  gap: 10px;
}

.project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  flex-grow: 1;
}

.button.is-link {
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.3s;
}

.button.is-link:hover {
  background-color: #0056b3;
}

.wave-emoji {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.skill-card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.pdfreact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.react-pdf__Document {
  display: flex;
  justify-content: center;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  margin: 20px;
}