.navbar-item {
	display: flex;
}

.navbar {
	transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
	opacity: 0.9;
}

.navbartools {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	gap: 10px;
}
