.footer .container .columns .column .button {
	padding: 0;
	border: none;
	background: none;
	box-shadow: none;
}

.footer .container .columns .column .button .icon {
	margin: 0 10px;
}

.footer .container .columns .column .button .icon:hover {
	opacity: 0.6;
}

@media screen and (max-width: 768px) {
	.has-text-centered-mobile {
		text-align: center;
	}
}